/*
 * CAMPO DE ENTRADAS COLORIDOS

   - Use a background-color propriedade para adicionar uma cor de fundo à entrada e a color propriedade para alterar a cor do texto:

*/

/*seleciona os campos de entrada de texto - input text do usuario*/
input[type=text]{
     /*largura do elemento, pode ocupar 100% da largura em relação a pagina*/
     width: 100%;

     /*espaço interno*/
     padding-top: 12px;
     padding-right: 12px;
     padding-bottom: 20px;
     padding-left: 20px;
 
     /*espaço externo*/
     margin-top: 8px;
     margin-right: 8px;
     margin-bottom: 0px;
     margin-left: 0px;
 
     /*borda - preenchimento ocultado*/
     border: none;

     /*cor de fundo*/
     background-color: #3CBC8D;

     /*cor do texto*/
     color: white;
 
     /*Observe que definimos a box-sizingpropriedade como border-box. Isso garante que o preenchimento e, eventualmente, as bordas sejam incluídos na largura e altura total dos elementos.*/
     box-sizing: border-box;
}