/*
 * ENTRADAS FOCADAS

   - Por padrão, alguns navegadores adicionarão um contorno azul ao redor da entrada quando ela receber o foco (clicado). Você pode remover esse comportamento adicionando outline: none;à entrada.

   - Use o :focus seletor para fazer algo com o campo de entrada quando ele receber o foco:
*/

/*seleciona os campos de entrada de texto - input text do usuario*/
input[type=text]{
    /*largura do elemento, pode ocupar 100% da largura em relação a pagina*/
    width: 100%;

    /*espaço interno*/
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 20px;

    /*espaço externo*/
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 0px;

    /*borda - preenchimento*/
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-color: #555;
    border-style: solid;

    /*Observe que definimos a box-sizingpropriedade como border-box. Isso garante que o preenchimento e, eventualmente, as bordas sejam incluídos na largura e altura total dos elementos.*/
    box-sizing: border-box;

    /*oculta o contorno do elemento - que toda vez que e clicado esse contorno e destacado*/
    outline: none;
}

/*seleciona o campo de entrada de texto - input type text - aplicando um seletor focus que captura o estado do elemento ao ser clicado*/
input[type=text]:focus{
    /*cor de fundo*/
    background-color: lightblue;
}